.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.wrapper {
  display: flex;
  height: 600px;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product_img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.brand {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 24px;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0;
}

.description {
  font-weight: 200;
  margin: 10px 0;
}

.price {
  font-size: 50px;
  color: rgba(11, 29, 34, 0.421);
}

.add_cart {
  padding: 10px;
  max-width: 200px;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        flex-direction: column;
        height: auto;
    }

    .container{
        padding: 10px;
    }
}
